<!DOCTYPE HTML>
<html>

<head>
    <title>SHOP PROJECT</title>
    <link rel="stylesheet" href="/<%= process.env.ADMIN_PATH %>/fonts/fonts.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" />
    <link rel="stylesheet" href="/<%= process.env.ADMIN_PATH %>/css/style.css" />
</head>

<body>
    <header class="header">
        <div class="logo"></div>
        <% if (showHeaderMenu) { %>
            <div class="menu">
                <a href="<%= `/${process.env.ADMIN_PATH}` %>/">ALL PRODUCTS</a>
                <a href="<%= `/${process.env.ADMIN_PATH}` %>/new-product">+ ADD PRODUCT</a>
            </div>
        <% } %>
        <a href="<%= `/${process.env.ADMIN_PATH}` %>/auth/logout">LOGOUT</a>
    </header>

    <div class="container">
        <%- body %>
    </div>
</body>

</html>