<h1>
    <%= item.title %>
</h1>
<form action="<%= `save/${item.id}` %>" method="post" class="product-edit-form">
    <div class="product-edit-fields">
        <div class="field">
            <label for="item-title" class="label">Title:</label>
            <input id="item-title" class="input" type="text" name="title" value="<%= item.title %>" />
        </div>

        <div class="field">
            <label for="item-description" class="label">Description:</label>
            <textarea id="item-description" class="textarea" rows="3" name="description"><%= item.description %></textarea>
        </div>

        <div class="field">
            <label for="item-price" class="label">Price:</label>
            <input id="item-price" class="input" type="text" name="price" value="<%= item.price %>" />
        </div>

        <div class="field">
            <label for="item-new-images" class="label">New images URLs (use line break or a comma):</label>
            <textarea id="item-new-images" class="textarea" rows="3" name="newImages"></textarea>
        </div>
    </div>

    <% if (item.comments?.length) { %>
        <h2>Comments</h2>
        <div class="product-edit-comments">
            <% item.comments.forEach(function(comment) { %>
                <%- include('product-comment', { comment: comment }) %>
            <% }); %>
        </div>
    <% } %>

    <% if (item.images?.length) { %>
        <h2>Images</h2>
        <div class="product-edit-images">
            <% item.images.forEach(function(image) { %>
                <%- include('product-image', { image: image }) %>
            <% }); %>
        </div>
    <% } %>

    <% if (similarItems.length) { %>
        <h2>Similar products</h2>
        <div class="product-edit-similar">
            <% similarItems.forEach(function(similarItem) { %>
                <%- include('product-similar', { similarItem: similarItem }) %>
            <% }); %>
        </div>
    <% } %>

    <% if (otherItems.length) { %>
        <h2>Other products</h2>
        <div class="product-edit-other">
            <div>
                <label for="other-products">Add to similar products</label>
            </div>
            <select class="product-select-other" name="productAddToSimilar" id="other-products" multiple>
                <% otherItems.forEach(function(otherItem) { %>
                    <option value="<%= otherItem.id %>">
                        <%= otherItem.title %>
                    </option>
                <% }); %>
            </select>
        </div>

    <% } %>

    <div class="product-edit-footer">
        <button type="submit" class="button button-black">Save changes</button>
        <a href="<%= `remove-product/${item.id}` %>" class="button button-red">Delete product</a>
    </div>
</form>